body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
}

h1 {
    margin: 10px;
    margin-top: 30px;
}

h2{
    font-size: 16px;
    margin-bottom: 30px;
}

h3{
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#container {
    position: relative;
    width: 375px;
    height: 634px;
    /* background-image: url('../img/background_2.png'); */
    /* background-color: rgb(19, 0, 192); */
    background: rgb(34,59,195);
    background: linear-gradient(0deg, rgba(34,59,195) 0%, rgba(45,253,216,1) 100%);
    background-repeat: no-repeat;
    padding-top: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; /* centrare verticalmente */
}

#profile{
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    margin-right: 10px;
}

.card {
    width: 345px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.duration {
    width: 40px;
    top: 10px;
    right: 10px;
    font-size: 12px;
    background: black;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

button.pulsante{
    width: 355px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    font-family: "roc-grotesk", sans-serif;
    padding: 10px;
    margin-left: 10px;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 20px;
}

button.pulsante a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

textarea {
    width: 330px; 
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 10px; 
    color: #fff;
    margin: 10px;
    word-wrap: break-word;
}

/* Stile del menù di navigazione orizzontale */
.bottom-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
  
.bottom-navigation nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.bottom-navigation nav li {
    display: inline;
    margin-right: 20px;
}
  
.bottom-navigation a {
    color: white;
    text-decoration: none;
}
  
.bottom-navigation a:hover {
    border-bottom: 1px solid white;
}

/* Stile sveglia */
#clock {
    font-size: 140px;
    font-weight: bold;
    margin-bottom: 20px;
}   

#stopButton {
    width: 355px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    font-family: "roc-grotesk", sans-serif;
    padding: 10px;
    margin-left: 10px;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
}